.column {
    padding: 10px;
    width: 30%;
    min-width: 300px;
    height: fit-content;
}

h3 {
    margin: 0;
    padding: 5px;
    font-size: medium;
}

div h3 span {
    color: #6b7280;
    font-weight: 800;
    margin-left: 4px;
}